<div class="container">
  <h1 class='display-1'>welcome</h1>

  <p>hi, this is a test app for using express and passportjs, <br />the view is styled by bootstrap and rendered by
    express-handlebars</p>

  <p>
    i be doing <strong>4</strong> auth routes <br /> after auth, they will redirect to the profile page<br />there is
    also an auth middleware to protect the profile page
    <ul>
      <li>passport strategies <ul>
          <li>google</li>
          <li>facebook</li>
          <li>local</li>
        </ul>
      </li>
      <li>sign up</li>
    </ul>
  </p>

  <p>please scroll down for more info</p>



  <p>links</p>

  <ul>
    <li>code</li>
    <ul>
      <li><a href="https://codesandbox.io/s/mongo-express-handlebars-passport-y13iw">codesandbox code</a></li>
    </ul>
    <li>docs</li>

    <ul>
      <li>
        <a href="http://www.passportjs.org/">passport js</a>

      </li>
      <ul>
        <li>docs>general>config</li>
        <li>docs>provider>google,facebook</li>
      </ul>

    </ul>
    <li>npm provider implementation</li>
    <ul>
      <li><a href="https://github.com/jaredhanson/passport-facebook">npm passport facebook</a></li>
    </ul>

    <li>developer pages - get credentials</li>
    <ul>
      <li><a href="https://developers.facebook.com/apps">facebook</a>>all apps>your app
        >settings>basic
      </li>
      <li><a href="https://console.developers.google.com/">google</a>>credentials>oauth 2.0 client ids</li>
    </ul>

    <li>articles</li>
    <ul>
      <li><a href="https://www.freecodecamp.org/news/getting-off-the-ground-with-expressjs-89ada7ef4e59/">express and
          handlebars (freecodecamp)</a></li>
      <li><a href="https://dev.to/phyllis_yym/beginner-s-guide-to-google-oauth-with-passport-js-2gh4">passportjs
          (devto)</a></li>
    </ul>


  </ul>
</div>